<%- include('../layout/_header.ejs'); -%>
 <!-- 登录提示start -->
<div class="container" style="margin-bottom: 0;">
   <div class="row">
     <div class="col-xs-8 cl col-xs-offset-2">
       <div class="alert alert-success alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong>恭喜!  登录成功</strong>
       </div>
       </div>
   </div>
 </div>
 <!-- 登录提示end -->
<%- include('../layout/_footer.ejs'); -%>