<%- include('../layout/_header.ejs'); -%>
  <!-- 表单 start-->
  <div class="container">
    <div class="row">
      <div class="col-xs-6 cl col-xs-offset-3">
        <h2 class="page-header">电影推荐</h2>
        <form action="/movie/success" method="POST" style="margin-bottom: 120px;">
          <div class="form-group">
            <label for="text">影片名字</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="影片名字">
          </div>
          <div class="form-group">
            <label for="text">影片路径</label>
            <input type="text" class="form-control" id="path" name="path" placeholder="影片路径">
          </div>
          <div class="form-group">
            <label for="text">上映地区</label>
            <input type="text" class="form-control" id="pos" name="pos" placeholder="上映地区">
          </div>
          <div class="form-group">
            <label for="text">影片类型</label>
            <input type="text" class="form-control" id="type" name="type" placeholder="影片类型">
          </div>
          <div class="form-group">
            <label for="text">影片标签</label>
            <input type="text" class="form-control" id="tags" name="tags" placeholder="请将标签与标签间用,隔开">
          </div>
          <div class="form-group">
            <label for="text">影片简介</label>
            <textarea class="form-control" rows="3" name="intro" placeholder="影片简介"></textarea>
          </div>
          <button type="submit" class="btn btn-primary form-control">添加影片</button>
        </form>
      </div>
    </div>
  </div>
  <!-- 表单 end-->
  <%- include('../layout/_footer.ejs'); -%>