<%- include('../layout/_header.ejs'); -%>
  <!-- 缩略图 -->
  <div class="container" style="margin-top:150px;text-align:center;">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4" style="border: 1px solid #000;height: 250px;">
        <p>&nbsp</p>
        <p> &nbsp</p>
        <h3>
           请问您要继续添加影片吗? 
        </h3>
        <p> &nbsp</p>
        <p> &nbsp</p>
        <p><a href="/practices/movie/creat" class="btn btn-primary" role="button">继续添加</a>&nbsp&nbsp&nbsp&nbsp
           <a href="/practices/1.html" class="btn btn-default" role="button">返回首页</a>
        </p>
      </div>
    </div>
  </div>
  <%- include('../layout/_footer.ejs'); -%>